{%- liquid

  assign section_name = 'error-404'
  assign section_classes = section_name
  assign section_id = section_name | append: '--' | append: section.id

  assign section_anchor = section.settings.anchor_id | default: ''
  assign section_text_colour = section.settings.text_colour | default: 'dark'

-%}

{%- style -%}
  {%-
    render 'element-styles',
      background: section.settings.background,
      background_image: section.settings.background_image,
      background_image_position_desktop: section.settings.background_image_position_desktop,
      background_image_position_mobile: section.settings.background_image_position_mobile,
      background_image_repeat: section.settings.background_image_repeat,
      background_image_size: section.settings.background_image_size,
      border_bottom: section.settings.border_bottom,
      border_top: section.settings.border_top,
      id: section_id,
      padding_bottom: section.settings.padding_bottom,
      padding_top: section.settings.padding_top
  -%}
{%- endstyle -%}

<div class="{{ section_classes }}" id="{{ section_id }}">
  <div class="{{ section_classes }}__content">
    {%- for block in section.blocks -%}
      {%- case block.type -%}

        {%- when 'button' -%}

          {%- liquid
            assign button_link = block.settings.link | default: ''
            assign button_target = '_self'
            assign button_title = block.settings.title | default: ''

            if button_link contains 'http'
              assign button_target = '_blank'
            endif
          -%}

          {% if button_link != blank and button_title != blank %}
            <div class="{{ section_name }}__button button">
              <a class="{{ section_name }}__button-link link" href="{{ button_link }}" target="{{ button_target }}" title="{{ button_title }}">
                {{ button_title }}
              </a>
            </div>
          {% endif %}

        {%- when 'heading' -%}

          {%- liquid
            assign heading = block.settings.heading | default: ''
          -%}

          {% if heading != blank %}
            <h1 class="{{ section_name }}__heading heading--primary">{{ heading | escape }}</h1>
          {% endif %}

        {%- when 'message' -%}

          {%- liquid
            assign message = block.settings.message | default: ''
          -%}

          {% if message != blank %}
            <div class="{{ section_name }}__message body-copy--primary">{{ message }}</div>
          {% endif %}

      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "404",
  "tag": "section",
  "class": "section section--error-404",
  "settings": [],
  "blocks": [
    {
      "name": "Button",
      "type": "button",
      "limit": 1,
      "settings": [
        {
          "label": "Title",
          "type": "text",
          "id": "title"
        },
        {
          "label": "Link",
          "type": "url",
          "id": "link"
        }
      ]
    },
    {
      "name": "Heading",
      "type": "heading",
      "limit": 1,
      "settings": [
        {
          "label": "Heading",
          "type": "text",
          "id": "heading"
        }
      ]
    },
    {
      "name": "Message",
      "type": "message",
      "limit": 1,
      "settings": [
        {
          "label": "Message",
          "type": "richtext",
          "id": "message"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "404",
      "blocks": [
        { "type": "heading" },
        { "type": "message" },
        { "type": "button" }
      ]
    }
  ],
  "enabled_on": {
    "templates": [ "404" ]
  }
}
{% endschema %}
